.item-comment {
  display: flex;
  padding: 20px;
  .avatar-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  background-color: white;
  color: black;
}

.content-author {
  padding: 10px;
  background: #f0f2f5;
  border-radius: 8px;
  width: 100%;
}
.ground-reply p {
  cursor: pointer;
}
.time-content span {
  color: #e87a5a;
  font-weight: 400;
  font-size: 13px;
}
.ground-content p {
  font-size: 14px;
  color: #353030;
  margin: 5px 0;
  padding-right: 10px;
}
